*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial,sans-serif;
}
body, html, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body{
  background-color: rgb(199, 199, 199);

}